@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');

$pserif: 'Roboto Slab', serif;
$noto: 'Noto Sans JP', sans-serif;

$thin: 100;
$lite: 300;
$reg: 400;
$semi-bold: 500;
$bold: 700;
$black: 900;